@{
    ViewBag.Title = "Home Page";
}

<!-- ***** Main Banner Area Start ***** -->
<!-- ***** Main Banner Area End ***** -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</section>

<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>
                        <a href="~/Content/SatProjectDocumentation.pdf">SAT Project Documentation</a>
                    </h2>
                </div>
            </div>
            
        </div>
    </div>
</section>
